---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   18px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #8b97a1;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

a:link {
  color: #207dc9;
  background-color: transparent;
  text-decoration: none;
}

p { font-size: 20px; font-family: 'Arial'; line-height: 1.5; margin-bottom: 20px; }

header .header-content { position: relative; text-align: center; padding: 100px 15px 100px; width: 100%; }

header .header-content .header-content-inner h1 { font-weight: 700; font-size: 82px; text-transform: uppercase; margin-top: 0; margin-bottom: 0; }

header .header-content .header-content-inner hr { margin: 30px auto; }

header .header-content .header-content-inner p { font-weight: 500; font-size: 32px; color: rgba(255, 255, 255, 1); margin-bottom: 50px; }

@media (min-width: 768px) { header { min-height: 100%; } header .header-content { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); padding: 0 50px; } header .header-content .header-content-inner { max-width: 1000px; margin-left: auto; margin-right: auto; } header .header-content .header-content-inner p { font-size: 32px; font-family: 'Arial'; text-shadow: 2px 2px 2px #000; max-width: 80%; margin-left: auto; margin-right: auto;} }

.little-padding { padding: 5px 5px 5px 5px; }
.left-adjusted-padding { padding: 0px 50px 50px 0px; }
.right-adjusted-padding { padding: 0px 0px 50px 50px; }

.navbar-default { background-color: transparent; border-color: rgba(255, 255, 255, 0.3); } .navbar-default .navbar-header .navbar-brand { color: rgba(80, 80, 80, 0.7); } .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus { color: white; } .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus { color: rgba(80, 80, 80, 0.7); font-size: 16px; } .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover { color: white; } .navbar-default.affix { background-color: white; border-color: rgba(34, 34, 34, 0.5); } .navbar-default.affix .navbar-header .navbar-brand { color: #8b97a1; font-size: 14px; } .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus { color: #6f7e8a; } .navbar-default.affix .nav > li > a, .navbar-default.affix .nav > li > a:focus { color: #222; } .navbar-default.affix .nav > li > a:hover, .navbar-default.affix .nav > li > a:focus:hover { color: #8b97a1; } 


.navbar.navbar-default {
    background-color: #ransparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-box { position: relative; display: block; max-width: 650px; margin: 0 auto; padding: 5px 5px 5px 5px; }

.img-center { display: block; margin-left: auto; margin-right: auto; max-width: 90%; height: auto; padding: 15px 5px 15px 5px; }

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}