<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
            </div>
        </div>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-sm">
                        <div class="box-body">
                        <p>We are a group of biologists at the University of Idaho, working in the department of <a href="https://www.uidaho.edu/cals/entomology-plant-pathology-and-nematology" target="_blank" rel="noopener">Entomology, Plant Pathology, and Nematology</a> and affiliated with the Institutes of <a href="https://www.iids.uidaho.edu/" target="_blank" rel="noopener">Interdisciplinary Data Sciences</a> and <a href="https://www.uidaho.edu/research/entities/ihhe" target="_blank" rel="noopener">Health in the Human Ecosystem</a>.
                        </p>
                        <p>
                        We study the biodiversity of insects and other ogranisms. We are interested in cataloging and description (taxonomy) of biodiversity, as well as processes that created it (speciation, phylogeny). Most of the work in our lab is in these three areas: taxonomy and systematics of insects, bioinformatics, and artificial intelligence.
                        </p>
                    </div>
            </div>
            <div class="container-fluid">
    <p class="text-faded" style="float: right; margin-top: 50px;">
        <b>Taxonomy and systematics</b>
        </p>
</div>
<div class="container-fluid">
            <img src="img/Formica_ravida.jpg" class="img-responsive" width="33%" style="float: right; margin-left: 50px; margin-bottom: 50px;"/>
            <p>
            We are interested in taxonomy, species delimitation, and broadly defined systematics of insects. We strive to produce high-quality systematic and phylogenetic studies that allow other researchers place previously neglected taxa in classification and evolutionary frameworks. Much of the focus is on ants and ongoing projects include species delimitation and phylogenetics of North American <a href="https://doi.org/10.1073/pnas.2026029118" target="_blank" rel="noopener"><i>Formica</i></a> and <i>Veromessor</i> ants. We also work on other groups: currently Stephanie Eskew is tackling the systematics of cynipoids.
            </p>
</div>
<div class="container-fluid">
    <p class="text-faded" style="margin-top: 50px;">
        <b>Bioinformatics</b>
        </p>
</div>
<div class="container-fluid">
            <img src="img/flowchart.jpg" class="img-responsive" width="33%" style="float: left; margin-right: 50px; margin-bottom: 50px;"/>
            <p>
            Most modern systematics work involves juggling of large data sets and our lab is interested in writing tools to do it efficiently. Check out <a href="https://github.com/marekborowiec/AMAS" target="_blank" rel="noopener">AMAS</a>, a tool for manipulation and computing of various statistics on multiple sequence alignemnts, and <a href="https://github.com/marekborowiec/spruceup" target="_blank" rel="noopener">Spruceup</a> which offers a distinct take on trimming of poorly aligned sequences. If you are working with ultraconserved elements (UCEs), especially in Hymenoptera or other insects with relatively compact genomes, you may also be interested in a tool for <a href="https://github.com/marekborowiec/uce-to-protein" target="_blank" rel="noopener">extracting protein-coding sequences</a> from UCE loci.
            </p>
</div>
<div class="container-fluid">
    <p class="text-faded" style="float: right; margin-top: 50px;">
        <b>AI in biology</b>
        </p>
</div>
<div class="container-fluid">
            <img src="img/cm.jpg" class="img-responsive" width="33%" style="float: right; margin-left: 50px; margin-bottom: 50px;"/>
            <p>
            We also apply developments in the field of machine learning to biological problems. The remarkable successes of neural networks in solving many problems considered intractable by traditional computing, such as speech or facial recognition, promise expert-like automated species identification and better evolutionary inferences from molecular data. We are currently working on AI-assisted identification of insect pests of cereal cropping systems, a tool for identification of North American arthropods from images in general, and demographic model selection using neural networks. Read our <a href="https://doi.org/10.32942/osf.io/nt3as" target="_blank" rel="noopener">review of AI applications in ecology and evolution</a>.
            </p>
</div>

    </div>
</section>
<div class="box-footer"> </div>
