<!-- FAQ Section -->
    <section id="faq" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQ</h2>
                    <hr class="primary">
                </div>
            </div>
			<div class="container-fluid">
			    <div class="row no-gutter">
			    	<div class="col-sm">
					<div class="box"><div class="box-title"></div><div class="box-body"></div></div>
						<p class="text-muted">
						<b>Q:</b> What if not everyone can get vaccinated by August?
						<br>
						<br>
						<b>A:</b> If our U.S. and international guests are unable to gather safely by August 2021, we will postpone our celebration until the following summer. We plan to proceed with the wedding either way and plan a meaningful celebration with family and friends as soon as it is safe to do so.
						<br>
						<br>
						<b>Q:</b> What is the dress code?
						<br>
						<br>
						<b>A:</b> Wedding casual! The ceremony and reception (and dancing!) will be outside, so bring comfortable footwear.
						<br>
						<br>
						<b>Q:</b> Are babies allowed?
						<br>
						<br>
						<b>A:</b> Babies are allowed.
						<br>
						<br>
						<b>Q:</b> What about my sweet pooch?
						<br>
						<br>
						<b>A:</b> Unfortunately, the venue is not dog friendly :-( <a href="https://www.facebook.com/Lin-Lee-Kennels-202632269773897" target="_blank" rel="noopener noreferrer">Lin Lee Kennels</a> in Joseph is a place with dog and cat boarding.
						<br>
						<br>
						<b>Q:</b> What is the history of this place?
						<br>
						<br>
						<b>A:</b> Joseph and Wallowa Mountains are located on the homelands of the Nimi'ipuu (Nez Percé). We extend gratitude to the indigenous people that call this place home. You can read about the story of Chief Joseph <a href="https://www.britannica.com/biography/Chief-Joseph" target="_blank" rel="noopener noreferrer">here</a>.
						<br>
						<br>
						<b>Q:</b> What is a glacial moraine?
						<br>
						<br>
						<b>A:</b> Excellent question! It is a buildup of debris previously carried by a glacier. <a href="https://www.morainecampaign.org/#where"  target="_blank" rel="noopener noreferrer">Wallowa Lake moraines</a> are a textbook example!
						<br>
						<br>
						</p>
					</div>
			<div class="col-sm">
				<img src="img/ginger.jpg"class="img-responsive img-max"/>
			</div>
</div>
</div><div class="box-footer"> </div></div>