<!-- Mountains Section -->
    <section id="mountains" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mountains</h2>
                    <hr class="primary">
                </div>
            </div>

<div class="box"><div class="box-title"></div><div class="box-body">
<img src="img/mountain.jpg" width="400" height="400" align="left" class="left-align-padding"/>
<p class="text-muted">This is a mountain</p>

</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<img src="img/lake.jpg" width="400" height="400" align="right" class="right-align-padding"/>
<p class="text-muted">This is a lake</p>

</div><div class="box-footer"> </div></div>