<!-- Team Section -->
    <section id="news" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lab news</h2>
                    <hr class="primary">
                </div>
            </div>
<div class="container-fluid">
	<p class="text-muted" style="margin-top: 50px;">
		<b>Alex graduates (May 14)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/alex-graduation.jpg" class="img-responsive" width="33%" style="float: left; margin-right: 50px; margin-bottom: 50px;"/>
			<p class="text-muted">
			We were proud to walk at Alex's commencement. He graduated with a master's in Bioinformatics and Computational Biology and is leaving for a PhD program at the University of Minnesota where he will work on cancer genomics. Go Alex! The lab group will miss you. 
			</p>
</div>
<div class="container-fluid">
	<p class="text-muted" style="float: right; margin-top: 50px;">
		<b>Stephanie receives award (May 5)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/stephanie-farmer.jpg" class="img-responsive" width="33%" style="float: right; margin-left: 50px; margin-bottom: 50px; margin-bottom: 50px;"/>
			<p class="text-muted">
			We are happy to share that Stephanie received one of the four Farmer Awards from our department (seen in the photo with our dept head, Ed Lewis). The award is possible thanks to a generous endowment that benefits student research in entomology. She will be able to use the $1,500 award for her work on gall wasps. Congratulations Stephanie!
			</p>
</div>
</div>
		<div class="box-footer"> </div>
    <div class="row no-gutter">
    	<div class="col-sm">
			<div class="box-body">
			<p class="text-muted">
			</div>
		</div>
	</div>