<section class="bg-primary" id="our-story">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Story</h2>
                <hr class="light">
                <p class="text-faded">We met at an entomology happy hour in Arizona. Aryn was already hanging out with these entomologists beause she met them at the dog park. Marek had recently moved to Tempe with his lab and Aryn offered to show him some local hiking trails. We went for a hike at South Mountain and haven't stopped going on hikes together since.
                </p>
            </div>
        <div class="box"><div class="box-title"></div><div class="box-body">
		<img src="img/south-mountain.jpg" width="900" height="600" class="img-center"/>
        </div>
    </div>
</section>
