<section class="bg-primary" id="our-story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Story</h2>
                <hr class="light">
            </div>
        </div>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-sm">
                        <div class="box-body">
                        <p class="text-faded">We met at an entomology happy hour in Arizona. Aryn was already hanging out with these entomologists beause she met them at the dog park. Marek had recently moved to Tempe with his lab and Aryn offered to show him some local hiking trails. We went for a hike at South Mountain and haven't stopped going on hikes together since.
                        </p>
                    </div>
                </div>
                        <div class="col-sm">
                            <img src="img/south-mountain.jpg" class="img-responsive img-max"/>
                        </div>
                </div>
            </div>
    </div>
</section>
<div class="box-footer"> </div>
