<!-- Past Members Section -->
    <section id="past" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Past members</h2>
                    <hr class="light">
                </div>
            </div>
<div class="container-fluid">
	<div class="row no-gutter">
	<p class="text-faded" style="float: left; margin-top: 50px;">
		<b>Andrea Noble-Stuen (lab manager)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/andrea.jpg" class="img-responsive" width="33%" style="float: left; margin-left: 50px; margin-bottom: 50px; margin-right: 50px;"/>
			<p class="text-faded">
			Andrea joined the lab in Fall 2020 and is loving the variety of working here, from molecular lab techniques to data management to macro photography and teaching and supporting others. She continues her work in Idaho supporting the lab of Dr <a href="https://thehamiltonlab.github.io/hamilton-lab/"  target="_blank" rel="noopener">Chris Hamilton</a>.
			</p>
			<p class="text-faded">
			She received her MS in Natural Resources from the University of Idaho, and a BA in Environmental Biology and Fine Arts from University of Colorado. She managed the daily work in a limnology (freshwater ecology) lab in Colorado, and brings experience from work in analytical chemistry, tree physiology, soils, fish ecology, and forestry. She is now thoroughly enjoying exploring arthropods and DNA. 
			</p>
</div>
<div class="container-fluid">
	<p class="text-faded" style="float: right; margin-top: 50px;">
		<b>Alex McKeeken (MS student)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/alex.jpg" class="img-responsive" width="33%" style="float: right; margin-left: 50px; margin-bottom: 50px; margin-bottom: 50px;"/>
			<p class="text-faded">
			Alex joined the lab in 2019 and excels in many bioinformatics skills including tool development, data management, database design, computer vision and machine learning.
			</p>
			<p class="text-faded">
			His research involves combining deep learning with citizen science databases to design machine
			learning models capable of identifying thousands of North American arthropods genera from photographs. He hopes his work can be used by the public and academia and be a first step towards changing how arthropod identification is done.
			</p>
			<p class="text-faded">
			Originally from Idaho, Alex received his BS in Medical Sciences from University of Idaho and is currently working on MS in Bioinformatics and Computational Biology. He is now pursuing a PhD in cancer genomics at the University of Minnesota.
			</p>
</div>
</div>
		<div class="box-footer"> </div>
    <div class="row no-gutter">
    	<div class="col-sm">
			<div class="box-body">
			<p class="text-faded">
			</div>
		</div>
	</div>
</section>
<div class="box-footer"> </div>