<section class="bg-primary" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <hr class="light">
            </div>
        </div>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-sm">
                        <div class="box-body">
<p class="text-faded"><strong>2022</strong></p>
<ul>
<p>
<li style="font-family:Arial;font-size:20px">Boudinot B.E., <strong>Borowiec M.L.</strong>, Prebus M.M. 2022. Phylogeny, evolution, and classification of the ant genus <i>Lasius</i>, the tribe Lasiini, and the subfamily Formicinae (Hymenoptera: Formicidae). <i>Systematic Entomology </i>47(1): 113-151. DOI: <a href="https://doi.org/10.1111/syen.12522" target="_blank" rel="noopener">10.1111/syen.12522</a></li>
</p>
</ul><p class="text-faded"><strong>2021</strong></p>
<ul>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong>, Dikow R.B., Frandsen P.B., <strong>McKeeken A.</strong>, Valentini G., White A.E. 2021. Deep learning as a tool for ecology and evolution. Available on <i>EcoEvoRxiv </i> DOI: <a href="https://doi.org/10.32942/osf.io/nt3as" target="_blank" rel="noopener">10.32942/osf.io/nt3as</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Purcell J., Lagunas-Robles G., Rabeling C., <strong>Borowiec M.L.</strong>, Brelsford A. 2021. The maintenance of polymorphism in an ancient social supergene. <i>Molecular Ecology </i> 30(23): 6246-6258. DOI: <a href="https://doi.org/10.1111/mec.16196" target="_blank" rel="noopener">10.1111/mec.16196</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong>, Cover S.P., Rabeling C. 2021. The evolution of social parasitism in <i>Formica</i> ants revealed by a global phylogeny. <i>Proceedings of the National Academy of Sciences of the USA </i> 118(38): e2026029118. DOI: <a href="https://doi.org/10.1073/pnas.2026029118" target="_blank" rel="noopener">10.1073/pnas.2026029118</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Dilworth K.A., <strong>Borowiec M.L.</strong>, Cohen A.L., Mickelson G.S., Oeller E.C., Crowder D.W., Clark R.E.  2021. Ants of the Palouse Prairie: diversity and species composition in an endangered grassland. <i>Biodiversity Data Journal </i>9: e65768. DOI: <a href="https://doi.org/10.3897/BDJ.9.e65768" target="_blank" rel="noopener">10.3897/BDJ.9.e65768</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Hotaling S., <strong>Borowiec M.L.</strong>, Lins L.S.F., Desvignes T., Kelley J.L. 2021. The biogeographic history of eelpouts and related fishes: linking phylogeny, environmental change, and patterns of dispersal in a globally distributed fish group. <i>Molecular Phylogenetics and Evolution </i>162: 107211. DOI: <a href="https://doi.org/10.1016/j.ympev.2021.107211" target="_blank" rel="noopener">10.1016/j.ympev.2021.107211</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px">van Elst T., Eriksson T.H., Gadau J., Johnson R.A., Rabeling C., Taylor J.E., <strong>Borowiec M.L. </strong>2021. Comprehensive phylogeny of <i>Myrmecocystus</i> honey ants highlights cryptic diversity and infers evolution during aridification of the American Southwest. <i>Molecular Phylogenetics and Evolution </i>1155: 107036. DOI: <a href="https://doi.org/10.1016/j.ympev.2020.107036" target="_blank" rel="noopener">10.1016/j.ympev.2020.107036</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Csosz S., Seifert B., Mikó I., Boudinot B., <strong>Borowiec M.L.</strong>, Fisher B., Prebus M., Puniamoorthy J., Rakotonirina J.C., Rasoamanana N., Schultz R., Trietsch C., Ulmer J., Elek Z. 2021. Insect morphometry is reproducible under average investigation standards. <i>Ecology and Evolution </i>11: 547-559. DOI: <a href="https://doi.org/10.1002/ece3.7075" target="_blank" rel="noopener">10.1002/ece3.7075</a></li>
</p>
</ul><p class="text-faded"><strong>2020</strong></p>
<ul>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2020. Ants: phylogeny and classification. In: ed. C.K. Starr <i>Encyclopedia of Social Insects </i>Cham (Switzerland), pp. 56-69. DOI: <a href="https://doi.org/10.1007/978-3-319-90306-4_155-1" target="_blank" rel="noopener">10.1007/978-3-319-90306-4_155-1</a></li>
</p>
</ul><p class="text-faded"><strong>2019</strong></p>
<ul>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2019. Spruceup: fast and flexible identification, visualization, and removal of outliers from large multiple sequence alignments. <i>Journal of Open Source Software </i>4(42), 1635. DOI: <a href="https://doi.org/10.21105/joss.01635" target="_blank" rel="noopener">10.21105/joss.01635</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong>, Rabeling C., Brady S.G., Fisher B.L., Schultz T.R., Ward P.S. 2019. Compositional heterogeneity and outgroup choice influence the internal phylogeny of the ants. <i>Molecular Phylogenetics and Evolution</i> 134: 111-121. DOI: <a href="https://doi.org/10.1016/j.ympev.2019.01.024" target="_blank" rel="noopener">10.1016/j.ympev.2019.01.024</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2019. Convergent evolution of the army ant syndrome and congruence in big-data phylogenetics. <i>Systematic Biology </i>68(4): 642-656. <a href="https://academic.oup.com//sysbio/advance-article/doi/10.1093/sysbio/syy088/5272507?guestAccessKey=64fc486c-947e-4777-b626-84857ecda3a2" target="_blank" rel="noopener noreferrer">Free PDF</a>. DOI: <a href="https://doi.org/10.1093/sysbio/syy088" target="_blank" rel="noopener noreferrer">10.1093/sysbio/syy088</a></li>
</ul>
<p class="text-faded"><strong>2018</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Gillung J.P., Winterton S.L., Bayless K.M., Khouri Z., <strong>Borowiec M.L.</strong>, Yeates D., Kimsey L.S., Misof B., Shin S., Zhou X., Mayer C., Petersen M., Wiegmann B.M. 2018. Anchored phylogenomics unravels the evolution of spider flies (Diptera, Acroceridae) and reveals discordance between nucleotides and amino acids. <i>Molecular Phylogenetics and Evolution </i>128: 233-245. DOI: <a href="https://doi.org/10.1016/j.ympev.2018.08.007" target="_blank" rel="noopener noreferrer">10.1016/j.ympev.2018.08.007</a></li>
</ul>
<p class="text-faded"><strong>2016</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Kjer K.,<strong> Borowiec M.L.</strong>, Frandsen P.B., Ware J., Wiegmann B.M. 2016. Advances using molecular data in insect systematics. <i>Current Opinion in Insect Science </i> 18: 40-47. DOI: <a id="ddDoi" class="S_C_ddDoi" href="http://dx.doi.org/10.1016/j.cois.2016.09.006" target="doilink" rel="noopener noreferrer">10.1016/j.cois.2016.09.006</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong> 2016. Generic revision of the ant subfamily <span class="tn"><span class="subfamily">Dorylinae </span></span>(<span class="tn"><span class="order">Hymenoptera</span></span>, <span class="tn"><span class="family">Formicidae</span></span>). <i>ZooKeys </i>608: 1-280. DOI: <a href="https://dx.doi.org/10.3897/zookeys.608.9427" target="_blank" rel="noopener noreferrer">10.3897/zookeys.608.9427</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong> 2016. AMAS: A fast tool for alignment manipulation and computing of summary statistics. <i>PeerJ </i>4:e1660. DOI: <a href="https://peerj.com/articles/1660/" target="_blank" rel="noopener noreferrer">10.7717/peerj.1660</a></li>
</ul>
<p class="text-faded"><strong>2015</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong style="line-height: 1.7;">Borowiec M.L</strong><span style="line-height: 1.7;"><strong>.</strong>, Lee E.K., Chiu J.C., Plachetzki D.C. 2015. Extracting phylogenetic signal and accounting for bias in whole-genome data sets supports the Ctenophora as sister to remaining Metazoa. <i>BMC Genomics</i> 16(1):987. DOI: <a href="http://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-015-2146-4" target="_blank" rel="noopener noreferrer">10.1186/s12864-015-2146-4</a></span></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong>, Kimsey, L.S. 2015. The first host record for the wasp subfamily Brachycistidinae (Hymenoptera: Tiphiidae). <i>Proceedings of the Entomological Society of Washington</i>, 117(1): 62-64. DOI: <a href="http://dx.doi.org/10.4289/0013-8797.117.1.62" target="_blank" rel="noopener noreferrer">10.4289/0013-8797.117.1.62</a></li>
</ul>
<p class="text-faded"><strong>2014</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Snelling R.S., <strong>Borowiec M.L.</strong>, Prebus M.M. 2014. Studies on California ants: new species in the genus <i>Temnothorax</i> Mayr (Hymenoptera: Formicidae). <i>ZooKeys</i>, 372: 27-89. DOI: <a href="http://zookeys.pensoft.net/articles.php?id=3156" target="_blank" rel="noopener noreferrer">10.3897/zookeys.372.6039</a></li>
</ul>
<p class="text-faded"><strong>2013</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Johnson B.R., <strong>Borowiec M.L</strong><strong>.</strong>, Chiu J.C., Lee E.K., Atallah J., Ward P.S. 2013. Phylogenomics resolves evolutionary relationships among ants, bees, and wasps. <i>Current Biology, </i>23: 2058-2062. DOI: <a href="http://dx.doi.org/10.1016/j.cub.2013.08.050" target="_blank" rel="noopener noreferrer">10.1016/j.cub.2013.08.050</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong>, Borowiec L. 2013. New data on the occurrence of ants (Hymenoptera: Formicidae) in Lower Silesia and other regions of Poland [in Polish with English summary] <i>Wiadomości Entomologiczne</i>, 32: 49-57.</li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2013. Two species of myrmecophilous Diapriidae (Hymenoptera) new to Poland. <i>Wiadomości Entomologiczne</i>, 32: 42-48.</li>
</ul>
<p class="text-faded"><strong>2012</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong>, Wiśniowski B., Żyła W. 2012. <i>Xenos vesparum </i>Rossius, 1793 - a strepsipteron new to Poland (Strepsiptera: Xenidae) <i>Acta Musei Moraviae, Scientiae Biologicae</i>, 97: 7-12.</li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L</strong>. 2012. New record of <i>Elenchus tenuicornis </i>(Kirby, 1815) (Strepsiptera: Elenchidae) in Poland [in Polish] <i>Wiadomości Entomologiczne</i>, 31: 210.</li>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Seltmann K.C., Yoder M.J., Mikó I., Forshage M., Bertone M.A., Agosti D., Austin A.D., Balhoff J.P., <strong>Borowiec M.L.</strong>, Brady S.G., Broad G.R., Brothers D.J., Burks R.A., Buffington M.L., Campbel H.M., Dew K.J., Ernst A.F., Fernández-Triana J.L., Gates M.W., Gibson G.A.P., Jennings J.T., Johnson N.F., Karlsson D., Kawada R., Krogmann L., Kula R.R., Mullins P.L., Ohl M., Rasmussen C., Ronquist F., Schulmeister S., Sharkey M.J., Talamas E., Tucker E., Vilhelmsen L., Ward P.S., Wharton R.A., Deans A.R. 2012. A hymenopterists’ guide to the Hymenoptera Anatomy Ontology: utility, clarification, and future directions. <i>Journal of Hymenoptera Research</i>, 27: 67-88. DOI: <a href="http://dx.doi.org/10.3897/jhr.27.2961">10.3897/jhr.27.2961</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Wetterer J.K., Kronauer D.J.C., <strong>Borowiec M.L. </strong>2012. Worldwide spread of <i>Cerapachys biroi </i>(Hymenoptera: Formicidae: Cerapachyinae). <i>Myrmecological News</i>, 17: 1-4.</li>
</ul>
<p class="text-faded"><strong>2011</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong>, Longino J.T. 2011. Three new species and reassessment of the rare Neotropical ant genus <i>Leptanilloides </i>(Hymenoptera, Formicidae, Leptanilloidinae). <i>ZooKeys</i>, 133: 19-48. DOI: <a href="http://dx.doi.org/10.3897%2Fzookeys.133.1479" target="pmc_ext" rel="noopener noreferrer">10.3897/zookeys.133.1479</a></li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong>, Schulz A., Alpert G.D., Baňař P. 2011. Discovery of the worker caste and description of two new species of <i>Anomalomyrma </i>(Hymenoptera: Formicidae: Leptanillinae) with unique abdominal morphology. <i>Zootaxa</i>, 2810: 1-14.</li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2011. First record of <i>Lasius sabularum </i>(Bondroit, 1918) (Hymenoptera: Formicidae) in Poland. <i>Myrmecological News</i>, 14: 137-140.</li>
</ul>
<p class="text-faded"><strong>2010</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong>, Ruta R., Kubisz D. 2010. New records of <i>Claviger longicornis </i>Müller, 1818 and <i>C</i>. <i>testaceus </i>Preyssler, 1790 (Coleoptera: Staphylinidae: Pselaphinae) in Poland with review of their habits. <i>Polish Journal of Entomology</i>, 79: 261-269.</li>
</ul>
<p class="text-faded"><strong>2009</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L</strong>. 2009. New data on the occurrence of formicoxenine ants (Hymenoptera: Formicidae) in Poland. <i>Wiadomości Entomologiczne</i>, 28: 237-246. [in Polish with English summary]</li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2009. New records of the ant <i>Camponotus truncatus </i>(Spinola, 1808) (Hymenoptera: Formicidae) in Wrocław and its surroundings. <i>W</i><i>i</i><i>adomości Entomologiczne</i>, 28: 200. [in Polish]</li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L.</strong>, Borowiec L., Csősz S., Radchenko A. 2009. Ants (Hymenoptera: Formicidae) collected during 2006 Polish expedition to Kyrgyzstan. <i>Genus</i>, 20: 367-379.</li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2009. New ant species related to <i>Cerapachys sexspinus </i>and discussion of the status of <i>Yunodorylus </i>(Hymenoptera: Formicidae). <i>Zootaxa</i>, 2069: 43-58.</li>
</ul>
<p class="text-faded"><strong>2007</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2007. A third species of <i>Mayriella </i>from the Oriental Region (Hymenoptera: Formicidae). <i>Genus</i>, 18: 773-776.</li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2007. A new species of <i>Tyrannomyrmex </i>(Hymenoptera: Formicidae: Myrmicinae) from India. <i>Zootaxa</i>, 1642: 65-68.</li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2007. <i>Camponotus truncatus </i>(Spinola, 1808) (Hymenoptera: Formicidae) - ant species new to Poland. <i>Polish Journal of Entomology</i>, 76: 41-45.</li>
</p>
<p>
<li style="font-family:Arial;font-size:20px"><strong>Borowiec M.L. </strong>2007. Second record of the ant <i>Leptothorax kutteri </i>Buschinger, 1966 (Hymenoptera: Formicidae) in Poland. <i>Przegląd Zoologiczny</i>, 50: 37-40. [in Polish]</li>
</ul>
<p class="text-faded"><strong>2005</strong></p>
<ul>
</p>
<p>
<li style="font-family:Arial;font-size:20px">Stankiewicz A.M., Sielezniew M., <strong>Borowiec M.L.</strong>, Czechowski W. 2005. <i>Formica uralensis </i>Ruzsky (Hymenoptera: Formicidae) in Poland. <i>Fragmenta Faunistica</i>, 48: 175-180.</li>
</ul>
    </div>
</section>
<div class="box-footer"> </div>
