<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team</h2>
                    <hr class="primary">
                </div>
            </div>
<div class="container-fluid">
	<p class="text-muted" style="margin-top: 50px;">
		<b>Marek Borowiec (PI)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/marek.jpg" class="img-responsive" width="33%" style="float: left; margin-right: 50px; margin-bottom: 50px;"/>
			<p class="text-muted">
			Marek is a biologist interested in biodiversity, including its cataloging and description (taxonomy), and processes that created it (speciation, phylogeny).
			</p>
			<p class="text-muted">
			In his work he combines field work, systematics, molecular phylogenetics, and computing. He enjoys developing bioinformatic tools and using machine learning to solve difficult problems. When not at the computer or in the lab, you can find him outside searching for ants, hiking, running, or skiing.
			</p>
			<p class="text-muted">
			Currently Marek is an Assistant Professor at Colorado State University and Director of C. P. Gillette Museum of Arthropod Diversity, based in the Department of Agricultural Biology. He received his PhD from UC Davis in 2016 and he was as a postdoc at the Social Insect Research Group at Arizona State University. Prior to joining CSU, he was Assistant Professor at the University of Idaho from 2019 to 2022.
			</p>
			<p class="text-muted">
			Teaching: General and Applied Entomology, Applied Bioinformatics
			</p>
			<p class="text-muted">
			<a href="https://www.overleaf.com/read/dhcvqcvzjmcv" target="_blank" rel="noopener">CV</a>
			</p>
</div>
<div class="container-fluid">
	<p class="text-muted" style="margin-top: 50px;">
		<b>Stephanie Eskew (PhD student)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/stephanie.jpg" class="img-responsive" width="33%" style="float: right; margin-right: 50px; margin-bottom: 50px;"/>
			<p class="text-muted">
			Stephanie joined the lab in January of 2021.
			</p>
			<p class="text-muted">
			Her dissertation research focuses on the systematics and ecology of gall wasps and their associated inquilines.
			</p>
			<p class="text-muted">
			Born and raised in Illinois, she received her MS in Biological Sciences from Eastern Illinois University and a BS in Biology from the University of Illinois at Springfield where she studied the ecology of nectar-poducing galls. Stephanie has a passion for the importance of natural history collections and curation of insect specimens. When she is not playing with bugs, she enjoys camping, fishing, cooking/baking, puzzles of all kinds, and spending quality time with her husband and their cats.
			</p>
</div>
		<div class="box-footer"> </div>
    <div class="row no-gutter">
    	<div class="col-sm">
			<div class="box-body">
			<p class="text-muted">
			</div>
		</div>
	</div>