<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team</h2>
                    <hr class="primary">
                </div>
            </div>
<div class="container-fluid">
	<p class="text-muted" style="margin-top: 50px;">
		<b>Marek Borowiec (PI)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/marek.jpg" class="img-responsive" width="33%" style="float: left; margin-right: 50px; margin-bottom: 50px;"/>
			<p class="text-muted">
			Marek is a biologist interested in biodiversity, including its cataloging and description (taxonomy), and processes that created it (speciation, phylogeny).
			</p>
			<p class="text-muted">
			In his work he combines field work, systematics, molecular phylogenetics, and computing. He enjoys developing bioinformatic tools and using machine learning to solve difficult problems. When not at the computer or in the lab, you can find him outside searching for ants, hiking, running, or skiing.
			</p>
			<p class="text-muted">
			Currently Marek is an Assistant Professor at Colorado State University and Director of C. P. Gillette Museum of Arthropod Diversity, based in the Department of Agricultural Biology. He received his PhD from UC Davis in 2016 and he was a postdoc at the Social Insect Research Group at Arizona State University. Prior to joining CSU, he was Assistant Professor at the University of Idaho from 2019 to 2022.
			</p>
			<p class="text-muted">
			Teaching: Advanced Evolution/Classification of Insects, Applications in Agricultural Biology 
			</p>
			<p class="text-muted">
			<a href="https://www.overleaf.com/read/dhcvqcvzjmcv" target="_blank" rel="noopener">CV</a>
			</p>
</div>
<div class="container-fluid">
	<p class="text-muted" style="float: right; margin-top: 50px;">
		<b>Zachary Griebenow (postdoctoral scholar)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/zachg.jpg" class="img-responsive" width="33%" style="float: right; margin-left: 50px; margin-bottom: 50px;"/>
			<p class="text-muted">
			Zach joined the lab in October 2023.
			</p>
			<p class="text-muted">
			Zach considers himself foremost to be a systematic entomologist, with interest in all information and techniques that support the understanding of insect evolution. His research integrates molecular and morphological data, contextualized by phylogeny, with the aim of delimiting higher taxa that are both consistently diagnosable and reciprocally monophyletic.</p>
			<p class="text-muted">
			He grew up in rural Kentucky, earning a BSc in Entomology at The Ohio State University (2017). This was followed by a PhD at the University of California, Davis under Phil Ward (2023). He spends his spare time writing, reading, and occasionally watching odd or peculiar visual media with his partner and friends.
			</p>
			<p class="text-muted">
			<a href="https://github.com/marekborowiec/phylohacks.github.io/raw/main/files/ZachG_CV.docx" target="_blank" rel="noopener">CV</a>
			</p>
</div>
		<div class="box-footer"> </div>
<div class="container-fluid">
	<p class="text-muted" style="float: left; margin-top: 50px;">
		<b>Vilas Brown (PhD student)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/zachb.jpg" class="img-responsive" width="33%" style="float: left; margin-right: 50px; margin-bottom: 50px;"/>
			<p class="text-muted">
			Zach joined the lab in the fall of 2023.
			</p>
			<p class="text-muted">
			Their research focuses on the systematics and ecology of a cryptic ant genus, <i>Stenamma</i>, in the Nearctic.
			</p>
			<p class="text-muted">
			A native to Oklahoma, Vilas has lived in a few places across the United States. From obtaining a MS in 2023 in Agricultural Life Sciences from Mississippi State University, a BS in Biological Sciences from the University of California, Santa Barbara, and an AS in Biological Sciences from Moorpark College. Vilas has worked in museum spaces for several years, starting as an undergraduate student and throughout their masters. They love museums and advocate for insects wherever they can. When not working on graduate work, they like to play video games, create art, read, and spending time with their friends.
			</p>
</div>
		<div class="box-footer"> </div>
<div class="container-fluid">
	<p class="text-muted" style="float: right; margin-top: 50px;">
		<b>Stephanie Eskew (PhD student)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/stephanie.jpg" class="img-responsive" width="33%" style="float: right; margin-left: 50px; margin-bottom: 50px;"/>
			<p class="text-muted">
			Stephanie joined the lab in January of 2021.
			</p>
			<p class="text-muted">
			Her dissertation research focuses on the systematics and ecology of gall wasps and their associated inquilines.
			</p>
			<p class="text-muted">
			Born and raised in Illinois, she received her MS in Biological Sciences from Eastern Illinois University and a BS in Biology from the University of Illinois at Springfield where she studied the ecology of nectar-producing galls. Stephanie has a passion for the importance of natural history collections and curation of insect specimens. When she is not playing with bugs, she enjoys camping, fishing, cooking/baking, puzzles of all kinds, and spending quality time with her husband and their cats.
			</p>
</div>
		<div class="box-footer"> </div>
    <div class="row no-gutter">
    	<div class="col-sm">
			<div class="box-body">
			<p class="text-muted" style="float: left; margin-top: 50px;">
			</div>
		</div>
	</div>
<div class="container-fluid">
    <p class="text-muted" style="float: left; margin-top: 50px;">
        <b>Leo Liu (MS student)</b>
        </p>
</div>
<div class="container-fluid">
            <img src="img/leo.jog" class="img-responsive" width="33%" style="float: left; margin-right: 50px; margin-bottom: 50px;"/>
            <p class="text-muted">
            Leo joined the lab in 2023. He is interested in all things arthropod and exceptionally talented at making insect-themed art and on-line content. 
            </p>
            <p class="text-muted">
            Originally from China, Leo graduated from CSU and is now pursuing a non-thesis masters degree. He is compiling a checklist of aquatic Hemiptera of Colorado along with a visual guide to genera.
            </p>
</div>
