<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team</h2>
                    <hr class="primary">
                </div>
            </div>
<div class="container-fluid">
	<p class="text-muted" style="margin-top: 50px;">
		<b>Marek Borowiec (PI)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/marek.jpg" class="img-responsive" width="25%" height="25%" style="float: left; margin-right: 50px;"/>
			<p class="text-muted">
			Marek is a biologist interested in biodiversity, including its cataloging and description (taxonomy), and processes that created it (speciation, phylogeny).
			</p>
			<p class="text-muted">
			In his work he combines field work, systematics, molecular phylogenetics, and computing. He enjoys developing bioinformatic tools and using machine learning to solve difficult problems. When not at the computer or in the lab, you can find him outside searching for ants, hiking, running, or skiing.
			</p>
			<p class="text-muted">
			Currently Marek is an Assistant Professor at University of Idaho’s Entomology, Plant Pathology and Nematology department. He received his PhD from the UC Davis in 2016 and he was as a postdoc at the Social Insect Research Group at Arizona State University. <a href="https://www.overleaf.com/read/dhcvqcvzjmcv" target="_blank" rel="noopener">CV</a>.
			</p>
</div>
<div class="container-fluid">
	<p class="text-muted" style="float: right; margin-top: 50px;">
		<b>Andrea Noble-Stuen (lab manager)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/andrea.jpg" class="img-responsive" width="25%" height="25%" style="float: right; margin-left: 50px;"/>
			<p class="text-muted">
			Andrea joined the lab in Fall 2020 and is loving the variety of working here, from molecular lab techniques to data management to macro photography and teaching and supporting others.
			</p>
			<p class="text-muted">
			She received her MS in Natural Resources from the University of Idaho, and a BA in Environmental Biology and Fine Arts from University of Colorado. She managed the daily work in a limnology (freshwater ecology) lab in Colorado, and brings experience from work in analytical chemistry, tree physiology, soils, fish ecology, and forestry. She is now thoroughly enjoying exploring arthropods and DNA. 
			</p>
</div>
<div class="container-fluid">
	<p class="text-muted" style="margin-top: 50px;">
		<b>Stephanie Eskew (PhD student)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/stephanie.jpg" class="img-responsive" width="25%" height="25%" style="float: left; margin-right: 50px;"/>
			<p class="text-muted">
			Stephanie joined the lab in January of 2021.
			</p>
			<p class="text-muted">
			Her dissertation research focuses on the systematics and ecology of gall wasps and their associated inquilines.
			</p>
			<p class="text-muted">
			Born and raised in Illinois, she received her MS in Biological Sciences from Eastern Illinois University and a BS in Biology from the University of Illinois at Springfield where she studied the ecology of nectar-poducing galls. Stephanie has a passion for the importance of natural history collections and curation of insect specimens. When she is not playing with bugs, she enjoys camping, fishing, cooking/baking, puzzles of all kinds, and spending quality time with her husband and their cats.
			</p>
</div>
<div class="container-fluid">
	<p class="text-muted" style="float: right; margin-top: 50px;">
		<b>Alex McKeeken (MS student)</b>
		</p>
</div>
<div class="container-fluid">
			<img src="img/alex.jpg" class="img-responsive" width="25%" height="25%" style="float: right; margin-left: 50px;"/>
			<p class="text-muted">
			Alex joined the lab in 2019 and excels in many bioinformatics skills including tool development, data management, database design, computer vision and machine learning.
			</p>
			<p class="text-muted">
			His research involves combining deep learning with citizen science databases to design machine
			learning models capable of identifying thousands of North American arthropods genera from photographs. He hopes his work can be used by the public and academia and be a first step towards changing how arthropod identification is done.
			</p>
			<p class="text-muted">
			A native of Idaho, Alex received his BS in Medical Sciences from University of Idaho and is currently working on MS in Bioinformatics and Computational Biology.
			</p>
</div>
</div>
		<div class="box-footer"> </div>
    <div class="row no-gutter">
    	<div class="col-sm">
			<div class="box-body">
			<p class="text-muted">
			</div>
		</div>
	</div>