<!-- Wedding Section -->
    <section id="travel" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-sm">
					<div class="box"><div class="box-title"></div><div class="box-body">
					<p class="text-muted"><b>Getting to Joseph by plane and car:</b>
						<br>
						<br>
					Joseph, OR is not really on the way to anywhere. The closest airport is Lewiston, ID, which is a connection for Delta flights. Travel time from Lewiston is 2.5 hours, Portland, OR is about 5.5 hours, Boise, ID is 4 hours, and Spokane, WA is 5.5 hours. We live about 45 minutes north of Lewiston and have a small local airport (<a href="http://www.flypuw.com/" target="_blank" rel="noopener noreferrer">Pullman-Moscow Regional Airport</a>) which could also be an option if you want to pass through our little town of Moscow. All of these airports offer rental car services.
						<br>
						<br>
					This destination is off the beaten trail, but don’t worry; it’s totally worth it. Read more about Joseph and the magnificent places to explore in the area <a href="https://josephoregon.com/joseph-general-information/about-the-area" target="_blank" rel="noopener noreferrer">here</a>.
					<br>
					<br>
					<b>Lodging:</b>
					<br>
					<br>
					Especially in the summer, Joseph is a popular tourist destination. We recommend that you consider lodging options now and reserve earlier than you might think necessary. Due to the pandemic, most businesses continue to offer generous cancellation policies, and we do recommend checking on those just in case.
					<br>
					<br>
					We have reserved a block of 20 rooms at the <a href="https://wallowalakelodge.com/" target="_blank" rel="noopener noreferrer">Wallowa Lake Lodge</a>, which is also the wedding venue. Please call the lodge at 541-432-9821 if you would like to claim one of these rooms. Let them know that you are coming for Aryn and Marek's wedding.
					<br>
					<br>
					<a href="https://www.eaglecapchalets.com/" target="_blank" rel="noopener noreferrer">Eagle Cap Chalets</a> is another option within walking distance from the Lodge and venue. <a href="https://www.indianlodgemotel.com/" target="_blank" rel="noopener noreferrer">Indian Lodge Motel</a> is located in the nearby town of Joseph (8 min drive from the venue).
					<br>
					<br>
					If you're having trouble finding anything that's available in Joseph, we have also reserved a block of rooms at the <a href="http://www.theponderosamotel.com/ponderosa-motel-.html" target="_blank" rel="noopener noreferrer">Ponderosa Motel</a> in Enterprise, OR, which is less than a 20 minute drive from the wedding venue. If you would like to reserve one of these rooms, please contact the motel at (541) 426-3186 and let them know you are part of our party to receive a discount. 
					<br>
					<br>
					Camping is available at <a href="https://oregonstateparks.reserveamerica.com/camping/wallowa-lake-state-park/r/campgroundDetails.do?contractCode=OR&parkId=405408" target="_blank" rel="noopener noreferrer">Wallowa Lake State Park</a> (they also have some cabins and yurts). They start booking 6 months in advance, so they will start filling up for this timeframe early February. The campground is within walking distance from the Lodge and wedding venue.
					<br>
					<br>
					<a href="https://www.airbnb.com/joseph-or/stays">Airbnb</a> and <a href="https://www.vrbo.com/" target="_blank" rel="noopener noreferrer">VRBO</a> also list many options in the area, though these will book more quickly. We have also found that some of the listings on these sites can also be booked through <a href="https://www.wallowalakevacationrentals.com/vacation-rentals-homes.asp" target="_blank" rel="noopener noreferrer">Wallowa Lake Vacation Rentals</a> which seems to have lower fees and better cancellation policies. If you prefer this style of accommodation, please book soon!
					<br>
					<br>
					Note that our wedding venue is at the south end of the lake which is a bustling resort area in August with a state park, lots of cabins, a few restaurants, lake access, and a marina. Just north of the lake (which is 3.5 miles long and surrounded by glacial moraines) is the town of Joseph which has a lovely assortment of shops and restaurants. Enterprise is just 6 miles away and is home to our favorite brewery in the area, <a href="https://terminalgravitybrewing.com/brewpub" target="_blank" rel="noopener noreferrer">Terminal Gravity</a>. All of these places would be good options to stay. 
					<br>
					<br>
					</p>
				</div>
			</div>
				</div>
	    	<div class="col-sm">
				<img src="img/road-trip.jpg" class="img-responsive img-max"/>
			</div>
</div>
</div>
</div><div class="box-footer"> </div></div>
