<!-- Wedding Section -->
    <section id="travel" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-sm">
					<div class="box"><div class="box-title"></div><div class="box-body">
					<p class="text-muted"><b>Getting to Joseph by plane and car:</b>
						<br>
						<br>
					Joseph, OR is not really on the way to anywhere. The closest airport is Lewiston, ID, which is a connection for Delta flights. Travel time from Lewiston is 2.5 hours, Portland, OR is about 5.5 hours, Boise, ID is 4 hours, and Spokane, WA is 5.5 hours. We live about 45 minutes north of Lewiston and have a small local airport (<a href="http://www.flypuw.com/">Pullman-Moscow Regional Airport</a>) which could also be an option if you want to pass through our little town of Moscow. All of these airports offer rental car services.
						<br>
						<br>
					This destination is off the beaten trail, but don’t worry; it’s totally worth it. Read more about Joseph and the magnificent places to explore in the area <a href="https://josephoregon.com/joseph-general-information/about-the-area">here</a>.
					<br>
					<br>
					<b>Lodging:</b>
					<br>
					<br>
					Especially in the summer, Joseph is a popular tourist destination. We recommend that you consider lodging options now and reserve earlier than you might think necessary. Due to the pandemic, we have checked on cancellation policies and include those details below.
					<br>
					<br>
					We have reserved a block of rooms at the <a href="https://wallowalakelodge.com/">Wallowa Lake Lodge</a>. 
					<br>
					<br>
					Camping is available at <a href="https://oregonstateparks.reserveamerica.com/camping/wallowa-lake-state-park/r/campgroundDetails.do?contractCode=OR&parkId=405408">Wallowa Lake State Park</a> (they also have some cabins and yurts). They start booking 6 months in advance, so they will start filling up for this timeframe early February.
					<br>
					<br>
					<a href="https://www.airbnb.com/joseph-or/stays">Airbnb</a> and <a href="https://www.vrbo.com/">VRBO</a> also list many options in the area, though these will book more quickly. If you prefer this style of accommodation, please book soon!
					<br>
					<br>
					<b>Getting to the ceremony:</b>
					<br>
					<br>
					The wedding venue is at the top of Mt. Howard, and we have booked tickets on the <a href="http://wallowalaketramway.com/information/about/">Wallowa Lake Tramway</a> for a gondola ride to the top. The station is located at 59919 Wallowa Lake Hwy, which is walking distance from Wallowa Lake State Park. Be sure to arrive by 3 pm to get there on time. You’re also welcome to take your gondola ride earlier and explore the trails and/or grab a drink at the Summit Grill up top!
					<br>
					<br>
					</p>
	    	<div class="col-sm">
				<img src="img/road-trip.jpg" class="img-responsive"/>
			</div>
</div><div class="box-footer"> </div></div>
