<!-- Wedding Section -->
    <section id="wedding" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wedding</h2>
                    <hr class="primary">
                </div>
            </div>
<div class="container-fluid">
    <div class="row no-gutter">
    	<div class="col-sm">
			<div class="box-body">
			<p class="text-muted">We decided to get married in the Wallowa Mountains because they've become a special place since we moved to the Inland Northwest. Before moving to Idaho we visited the Wallowas and have returned several times since to backpak and enjoy the charming town of Joseph, Oregon. In November 2020, Marek organized a weekend getaway to Joseph and proposed on a (steep and snowy) hike up Dug Peak. We look forward to sharing this beautiful place with out friends and family!
				<br>
				<br>
			<b>Ceremony:</b>
				<br>
				<br>
			Our ceremony will take place at 5pm on the summit of Mt. Howard. Meet at the Wallowa Lake Tramway by 3pm for transportation to the mountain top
				<br>
				<br>
			<b>Reception:</b>
				<br>
				<br>
			The reception will follow at @@@ beginning at 6pm.
			</p>
			</div>
		</div>
    	<div class="col-sm">
			<img src="img/wallowa-lake.jpg" class="img-responsive img-max"/>
		</div>
	</div>
</div>
</div>
		<div class="box-footer"> </div>
