<!-- Wedding Section -->
    <section id="wedding" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wedding</h2>
                    <hr class="primary">
                </div>
            </div>
<div class="container-fluid">
    <div class="row no-gutter">
    	<div class="col-sm">
			<div class="box-body">
			<p class="text-muted">We decided to get married in the Wallowa Mountains because they've become a special place since we moved to the Inland Northwest. Before moving to Idaho we visited the Wallowas and have returned several times since to backpack and enjoy the charming town of Joseph, Oregon. In November 2020, Marek organized a weekend getaway to Joseph and proposed on a (steep and snowy) hike up Dug Peak. We look forward to sharing this beautiful place with our friends and family!
				<br>
				<br>
			<b>Ceremony and reception:</b>
				<br>
				<br>
			The wedding ceremony and reception will take place outside at the <a href="https://wallowalakelodge.com/" target="_blank" rel="noopener noreferrer">Wallowa Lake Lodge</a>, a historic lodge located at the south end of Wallowa Lake. The ceremony will begin at 3 pm, followed by a cocktail hour. The reception will take place at the same location from 5 - 10 pm.
			</p>
			</div>
		</div>
    	<div class="col-sm">
			<img src="img/wallowa-lake.jpg" class="img-responsive img-max"/>
		</div>
	</div>
</div>
</div>
		<div class="box-footer"> </div>
